// Config
// --------------------

@use "config" with (
  
  // Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
  $enable-responsive-spacings: false,

  // Enable transitions
  $enable-transitions: false,

  // Enable overriding with !important
  $enable-important: false,

);

// Pico Lib
// --------------------

// Copyright
@use "copyright" with (
  $comment: "Slim version example",
);

// Theming
@use "themes/default";

// Layout
@use "layout/document"; // html
@use "layout/sectioning"; // body, header, main, footer
@use "layout/container"; // .container, .container-fluid
@use "layout/section"; // section
@use "layout/grid"; // .grid
@use "layout/scroller"; // figure

// Content
@use "content/typography"; // a, headings, p, ul, blockquote, ...
@use "content/embedded"; // audio, canvas, iframe, img, svg, video
@use "content/button"; // button, a[role=button], type=button, type=submit ...
@use "content/form"; // input, select, textarea, label, fieldset, legend
@use "content/table"; // table, tr, td, ...

// Utilities
@use "utilities/accessibility"; // -ms-touch-action, aria-*
@use "utilities/reduce-motion"; // prefers-reduced-motion
